.DS_Store
/.build
/.fixtures
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm
.netrc
Package.resolved
*.lcov
coverage.xml
log.info